.fin-sidebar {
    background: #004D40 !important;

    .fin-logo-icon {
        background: #FFB300 !important;
    }

    .ops-nav-item.active {
        border-left-color: #FFD54F !important;
    }
}
