<?xml version="1.0" encoding="UTF-8" ?>
<!--Copyright 2015-2018,2020 Ivan Yelizariev <https://it-projects.info/team/yelizariev>
    Copyright 2016 Stanislav Krotov <https://it-projects.info/team/ufaks>
    Copyright 2016 Gabbasov Dinar <https://it-projects.info/team/GabbasovDinar>
    Copyright 2020 Denis Mudarisov <https://github.com/trojikman>
    License MIT (https://opensource.org/licenses/MIT).
    License OPL-1 (https://www.odoo.com/documentation/user/14.0/legal/licenses/licenses.html#odoo-apps) for derivative work.
    Odoo 19 compatibility: t-extend/t-jquery removed as deprecated -->
<templates xml:space="preserve">
    <!-- Odoo 19: Placeholder template to prevent empty templates error -->
    <t t-name="web_debranding.placeholder">
        <!-- This template is intentionally empty for Odoo 19 compatibility -->
    </t>
</templates>
