/* Website theming (optional if you don't use Website) */
body { background: var(--hc-bg); color: var(--hc-text); }
.navbar { background: $o-brand-primary; }
.navbar a, .navbar .navbar-brand { color:#fff; }
.btn-primary{ background:$o-brand-primary; border-color:$o-brand-primary; }